form {
  width: 90%;
  max-width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  border: 1px solid none;
  border-radius: 12px;
  background-color: #d5def5;
}

label {
  font-size: 22px;
  margin: 16px;
}

textarea{
  width: 200px;
  padding-left: 8px;
  margin-bottom: 12px;
}

.TodoForm-button--container{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 170px;
}

.TodoForm-button--cancel{
  background-color: rgb(166, 163, 163);
  width: 80px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.TodoForm-button--cancel:hover{
  scale: 1.1;
  cursor: pointer;
}


.TodoForm-button--add{
  background-color: green;
  width: 80px;
  font-weight: bolder;
  letter-spacing: 1px;
}
.TodoForm-button--add:hover{
  scale: 1.1;
  cursor: pointer;
}
